[Unit]
Description=nfc
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/nfc2mqtt_service.py
WorkingDirectory=/usr/local
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
